<div class="container" style="margin-top: 40px;">
    <p class="text-xs-right">
        {{ user.name }} <a href="" ng-click="Logout()">(выйти)</a>
    </p>

    <h2>Выберите перевод слова:
        <span class="text-success">{{ currentQuestion.word.word }}</span>
    </h2>


    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action" ng-repeat="variant in currentQuestion.variants" ng-click="Answer(variant.id)"
                ng-class="{
                    'list-group-item-success': variant.id == correctId,
                    'list-group-item-danger': variant.id == wrongId
                }">
            {{ variant.word }}
        </button>
    </div>

    <div style="margin-top: 40px;;">
        <h4 class="text-xs-center text-danger">
            Ошибок: {{ session.answers_wrong }} / {{ session.allowed_errors }}
        </h4>

        <h4 class="text-xs-center text-success">
            Баллов: <b>{{ session.points }}</b>
        </h4>
    </div>

    <p class="text-success" ng-show="correctId">Правильный ответ!</p>

    <p class="text-danger" ng-show="wrongId">Вы выбрали неверный вариант, попробуйте ещё раз.</p>
</div>