<div class="container" style="margin-top: 40px;">

    <h2>Тест завершен.</h2>

    <h3 class="text-success">Вы набрали очков: <b>{{ session.points }}</b></h3>

    <button class="btn btn-primary" ng-click="PlayAgain()">Пройти тест ещё раз</button>
</div>

