<div class="container" style="margin-top: 40px;">


    <div class="col-md-8 offset-md-2">

        <form ng-submit="Auth()">

            <div class="form-group row">
                <label for="username" class="col-xs-2 col-form-label">Введите имя</label>

                <div class="col-xs-10">
                    <input type="text" class="form-control" id="username" ng-model="username">
                </div>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Начать тест</button>
        </form>

        <div class="alert alert-danger" ng-if="errors">
            <div ng-repeat="(field, fieldErrors) in errors">
                <div ng-repeat="error in fieldErrors">
                    {{ error }}
                </div>
            </div>
        </div>

    </div>
</div>

